/* ============== Google Font ============== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: black;
  color: #f0f8ff;
  padding: 28px 50px;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #808080;
}

.search-input {
  border: none;
  outline: none;
  color: #f0f8ff;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
}

.search-input::placeholder {
  color: #f0f8ff;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.limited-offer {
  font-size: 1.375rem;
  border-bottom: 2px solid #adffff;
  cursor: pointer;
}

.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.menu-item {
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 400;
}
